$color-primary: #3366FF;
$color-secondary: #2f2e41;

$color-shadow: #d2d2d2;
$color-warning: #ffbb00;
$color-error: #ff0000;
$color-success: #00d100;
$gradient-background: linear-gradient(150deg, #f0f8f5 0%, #c2d8fb 35%, #effefe 100%);